// @import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Kanit:wght@300;400;700&family=Space+Grotesk:wght@300..700&display=swap");

@font-face {
    font-family: "TTTrailers-regular";
    src: url(../fonts/TTTrailers-Regular.eot);
    src: local("@"), url(../fonts/TTTrailers-Regular.ttf) format("truetype"),
        url(../fonts/TTTrailers-Regular.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TTTrailers-bold";
    src: url(../fonts/TTTrailers-Bold.eot);
    src: local("@"), url(../fonts/TTTrailers-Bold.ttf) format("truetype"),
        url(../fonts/TTTrailers-Bold.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TTTrailers-demibold";
    src: url(../fonts/TTTrailers-DemiBold.eot);
    src: local("@"), url(../fonts/TTTrailers-DemiBold.ttf) format("truetype"),
        url(../fonts/TTTrailers-DemiBold.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
