@use "../core/typography";

.page-about {
    background: var(--color-not-so-black);
    color: var(--color-magic);

    .hero {
        padding-block: var(--spacing-10xl) 0;

        .col-12 {
            display: flex;
            flex-direction: column;
            row-gap: var(--spacing-lg);
        }

        p {
            @include typography.typography("lg", tertiary);
            text-align: center;
            font-weight: 100;
        }

        .title {
            span {
                color: var(--color-not-so-black);
            }
        }

        .img-cover {
            aspect-ratio: 360 / 416;
            margin-block-start: var(--spacing-lg);
        }
    }

    .regular {
        padding-block: 6.25rem;

        .row {
            row-gap: 6.25rem;
        }

        .col-12 {
            display: flex;
            flex-direction: column;
            row-gap: var(--spacing-lg);
        }

        h2 {
            @include typography.typography("8xl", primaryDemiBold);
            text-transform: uppercase;
        }

        h3 {
            @include typography.typography("3xl", tertiary);
            font-weight: 400;
        }

        p {
            @include typography.typography("md", tertiary);
            font-weight: 100;
        }

        .button-primary {
            background: var(--color-not-so-black);
            color: var(--color-magic);
            border-color: var(--color-magic);
            filter: drop-shadow(3px 6px var(--color-magic));
            @include typography.typography("6xl", primaryDemiBold);
        }
    }
}

@media (min-width: 1280px) {
    .page-about {
        padding-block-end: var(--spacing-10xl);

        .hero {
            .row {
                justify-content: center;
            }
            p {
                @include typography.typography("xl", tertiary);
            }

            .img-cover {
                aspect-ratio: 16 / 9;
            }
        }
        .regular {
            .row {
                justify-content: center;
            }
            p {
                @include typography.typography("xl", tertiary);
            }

            h2 {
                @include typography.typography("9xl", primaryBold);
            }

            .button-primary {
                @include typography.typography("2xl", primaryDemiBold);

                &::after {
                    background-image: var(--icon-arrow-magic);
                }
            }
        }
    }
}
