@use "../core/typography";

// .swiper-lessons .swiper-slide {
//     // opacity: 0;
//     pointer-events: none;
// }
//
// .swiper-lessons .swiper-slide-active {
//     // opacity: 1;
//     pointer-events: auto;
// }

.page-epilogue {
    background: var(--color-magic);

    .header {
        #button-menu {
            background: var(--color-magic);
        }
    }

    .hero {
        padding-block: var(--spacing-10xl) var(--spacing-4xl);

        .row {
            row-gap: var(--spacing-2xl);
        }

        .col-12 {
            display: flex;
            flex-direction: column;
            row-gap: var(--spacing-lg);
        }

        p {
            @include typography.typography("md", tertiary);
            text-align: center;
        }

        .buttons {
            align-items: center;
        }

        .button-secondary {
            @include typography.typography("2xl", primaryBold);
            // letter-spacing: 0;
            text-transform: uppercase;
            cursor: pointer;
        }
    }

    .panels {
        display: none;
        padding-block: var(--spacing-10xl) var(--spacing-4xl);

        .nav {
            justify-content: center;
            border-bottom: 1px solid var(--color-not-so-black);
        }

        .nav-item {
            flex: 1 1 50%;
            text-align: center;
            display: grid;
        }

        .nav-link {
            @include typography.typography("sm", tertiary);
            background: none;
            border: 0;
            padding: 0 0 var(--spacing-sm);
            color: var(--color-not-so-black);

            &.active {
                border-bottom: 2px solid var(--color-not-so-black);
                font-weight: 500;
            }
        }

        .tab-content {
            padding-block: var(--spacing-6xl) var(--spacing-2xl);

            & > .active {
                display: flex;
                flex-direction: column;
                // display: block;
                row-gap: var(--spacing-2xl);
            }

            .panel--contenido {
                display: grid;
                row-gap: var(--spacing-md);
            }

            .container {
                display: grid;
                row-gap: var(--spacing-md);

                &.panels__large {
                    row-gap: 3rem;
                    padding: 0;
                }

                & > h4 {
                    @include typography.typography("9xl", primary);
                    text-align: center;
                }

                & > span {
                    text-align: center;
                }
            }

            h2 {
                @include typography.typography("8xl", primaryBold);
                text-transform: uppercase;
                letter-spacing: -1px;

                span {
                    display: block;
                    margin-block-start: var(--spacing-md);
                    text-transform: none;
                    font-weight: normal;
                    @include typography.typography("lg", tertiary);
                }
            }

            h3 {
                @include typography.typography("6xl", primaryBold);
                text-transform: uppercase;
                letter-spacing: -1px;
            }

            span {
                @include typography.typography("md", tertiary);

                &.time:before {
                    content: "";
                    width: 20px;
                    height: 20px;
                    background: var(--icon-time) no-repeat center / contain;
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            li,
            p {
                @include typography.typography("lg", tertiary);
            }

            .banner-blog {
                width: 100%;
                position: relative;

                figcaption {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    @include typography.typography("xs", tertiary);
                    text-align: center;
                    background: var(--color-banana);
                    padding: var(--spacing-xs);
                }
            }
        }

        .swiper-blog,
        .swiper-learned {
            width: 100%;

            .swiper-pagination {
                position: relative;
                display: flex;
                justify-content: center;
                column-gap: var(--spacing-md);
                height: max-content;
                inset: 0;
                margin-bottom: var(--spacing-xl);

                &-bullet {
                    @include typography.typography("sm", tertiary);
                    width: 32px;
                    height: 32px;
                    border-radius: var(--border-radius-full);
                    border: 1px solid var(--color-not-so-black);
                    text-decoration: none;
                    display: grid;
                    place-items: center;
                    color: var(--color-not-so-black);
                    cursor: pointer;
                    flex: 0 0 32px;
                    background: transparent;
                    opacity: 1;

                    &-active {
                        background: var(--color-not-so-black);
                        color: var(--color-not-so-white);
                    }
                }

                @media (hover: hover) {
                    .swiper-pagination-bullet:hover {
                        font-weight: 700;
                    }
                }
            }

            .swiper-slide {
                display: flex;
                flex-direction: column;
                row-gap: var(--spacing-xl);

                &-active {
                    .panels__recommended a {
                        pointer-events: auto;
                    }
                }
            }
        }

        &__hero {
            display: flex;
            flex-direction: column;
            row-gap: var(--spacing-lg);
        }

        &__info {
            display: grid;
            row-gap: var(--spacing-lg);
        }

        &__recommended {
            padding-inline: 0;
            padding-block: var(--spacing-2xl) var(--spacing-xl);

            .col-12 {
                display: grid;
                row-gap: var(--spacing-lg);
            }

            h5 {
                @include typography.typography("md", tertiary);
                font-weight: 500;
            }

            a {
                text-decoration: none;
                width: max-content;
                // pointer-events: none;
            }
        }

        &--links {
            // padding-block: var(--spacing-sm);
            row-gap: var(--spacing-xl) !important;
            display: grid;

            .col-12 {
                display: grid;
                row-gap: var(--spacing-lg);

                & > div {
                    display: grid;
                    row-gap: var(--spacing-sm);
                }
            }

            h5 {
                @include typography.typography("md", tertiary);
                font-weight: 500 !important;
                border-top: 0 !important;
                padding-block: 0 !important;
            }

            h4 {
                @include typography.typography("lg", tertiary);
                font-weight: 500;
            }

            a {
                @include typography.typography("md", tertiary);
                color: var(--color-not-so-black);
                display: flex;
                // align-items: center;
                column-gap: var(--spacing-xs);
                text-decoration: none;
                width: fit-content;

                &::before {
                    content: "•";
                    display: block;
                    flex: 0 0 4px;
                }
            }
        }

        &__tools {
            display: grid;
            align-items: center;
            row-gap: 0;
            // padding-top: var(--spacing-2xl);

            h5 {
                @include typography.typography("lg", tertiary);
                font-weight: 300;
                border-top: 1px solid var(--color-not-so-black);
                padding-block: var(--spacing-md);
            }

            .swiper {
                width: 100%;
                top: -0.8rem;

                &-slide {
                    padding-inline: var(--spacing-lg) 0;
                    padding-block-start: var(--spacing-xl);
                    margin-right: 0 !important;
                    width: max-content;
                    aspect-ratio: 228 / 223;
                    // min-width: 15.625rem;
                    // min-height: 15.625rem;
                    padding-bottom: 20px;
                    cursor: pointer;
                    height: auto;

                    &:last-child {
                        padding-inline: var(--spacing-lg);
                    }

                    &.hide {
                        display: none;
                    }
                }

                a {
                    text-decoration: none;
                }
            }

            &__card {
                scroll-snap-align: start;
                background: var(--color-banana);
                border-radius: var(--border-radius-md);
                padding: var(--spacing-lg);
                box-shadow:
                    0px 16px 16px -8px rgba(12, 12, 13, 0.1),
                    0px 4px 4px -4px rgba(12, 12, 13, 0.05);
                color: var(--color-not-so-black);
                // height: 13.75rem;
                height: 100%;
                width: 245px;
                display: grid;
                row-gap: var(--spacing-sm);
                place-content: space-between;
                // width: 100%;
                transition: 0.3s ease-in-out all;

                h4 {
                    @include typography.typography("7xl", primary);
                    line-height: 1;
                    // width: max-content;
                }

                span {
                    @include typography.typography("sm", tertiary);
                    font-weight: 300;
                }

                @media (hover: hover) {
                    &:hover {
                        background: var(--color-banana);
                        transform: scale(1.2);
                        margin-inline: var(--spacing-2xl);
                    }
                }
            }
        }
    }
}

@media (min-width: 1280px) {
    .page-epilogue {
        padding-block-end: 12.5rem;

        .hero {
            .row {
                justify-content: center;
                row-gap: var(--spacing-6xl);
            }

            h1 {
                margin-block-end: var(--spacing-2xl);
            }

            p {
                @include typography.typography("xl", tertiary);
            }

            .buttons {
                flex-direction: row;
                column-gap: var(--spacing-lg);
                justify-content: center;
            }
        }

        .panels {
            padding-block: var(--spacing-8xl) 0;

            .nav {
                border-bottom: none;
            }

            .nav-link {
                @include typography.typography("md", tertiary);
            }

            .nav-item {
                flex: 0 1 250px;
            }

            .tab-content {
                padding-block-start: 5rem;

                h2 {
                    @include typography.typography("7xl", primaryBold);
                    line-height: 1;
                }

                .panel--contenido {
                    // grid-template-columns: 45% 55%;
                    padding-block-end: var(--spacing-6xl);

                    & > div {
                        padding-inline: 0;
                        max-width: none;

                        &:first-child {
                            // order: 2;
                            row-gap: var(--spacing-lg);
                        }

                        &:last-child {
                            // order: 1;
                            place-content: flex-start;
                        }
                    }
                }

                .container {
                    & > h4 {
                        @include typography.typography("10xl", primary);
                    }
                }

                p {
                    @include typography.typography("xl", tertiary);
                }

                picture {
                    aspect-ratio: 16 / 9;
                }

                .panel--contenido {
                    p {
                        @include typography.typography("lg", tertiary);
                    }
                }
            }

            &__info {
                grid-template-columns: 45% 55%;

                .panel--contenido {
                    order: 2;
                    padding-inline: 5.3125rem 10.875rem;
                }

                .panels--links {
                    order: 1;
                    place-items: flex-start;
                    padding-inline: 10.875rem 5.3125rem;
                }
            }

            &__tools {
                &__card {
                    height: 220px;
                    width: 280px;
                    background: var(--color-magic-strong);
                }

                .swiper {
                    max-width: none;
                    padding-inline: 64px;

                    &-wrapper {
                        column-gap: var(--spacing-xl);
                    }

                    &-slide {
                        padding-inline: 0 !important;
                    }
                }
            }

            &__recommended {
                .col-12 {
                    flex-direction: row;
                    display: flex;
                    column-gap: var(--spacing-lg);
                }

                .button {
                    @include typography.typography("2xl", primaryBold);
                }
            }

            &--links {
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
