@use "../core/typography";

.page-epilogue {
    background: var(--color-magic);

    .header {
        #button-menu {
            background: var(--color-magic);
        }
    }

    .hero {
        padding-block: var(--spacing-10xl) var(--spacing-4xl);

        .row {
            row-gap: var(--spacing-2xl);
        }

        .col-12 {
            display: flex;
            flex-direction: column;
            row-gap: var(--spacing-lg);
        }

        p {
            @include typography.typography("md", tertiary);
            text-align: center;
        }

        .buttons {
            align-items: center;
        }

        .button-secondary {
            @include typography.typography("sm", tertiary);
            letter-spacing: 0;
            cursor: pointer;
        }
    }

    .panels {
        display: none;
        padding-block: var(--spacing-10xl) var(--spacing-4xl);

        .nav {
            justify-content: center;
            border-bottom: 1px solid var(--color-not-so-black);
        }

        .nav-item {
            flex: 1 1 50%;
            text-align: center;
            display: grid;
        }

        .nav-link {
            @include typography.typography("sm", tertiary);
            background: none;
            border: 0;
            padding: 0 0 var(--spacing-sm);
            color: var(--color-not-so-black);

            &.active {
                border-bottom: 2px solid var(--color-not-so-black);
                font-weight: 500;
            }
        }

        .tab-content {
            padding-block: var(--spacing-2xl);

            & > .active {
                display: flex;
                row-gap: var(--spacing-4xl);
                flex-direction: column;
            }

            .panel--contenido {
                display: grid;
                row-gap: var(--spacing-md);
            }

            .container {
                display: grid;
                row-gap: var(--spacing-md);

                &.panels__large {
                    row-gap: 6rem;
                }

                & > h4 {
                    @include typography.typography("9xl", primary);
                }
            }

            h2 {
                @include typography.typography("8xl", primaryBold);
                text-transform: uppercase;
                letter-spacing: -1px;
            }

            span {
                @include typography.typography("md", tertiary);

                hr {
                    display: inline-block;
                    border-top: 2px solid var(--color-not-so-black);
                    width: 40px;
                    margin: 0;
                }
            }

            p {
                @include typography.typography("lg", tertiary);
            }
        }

        &__recommended {
            display: grid;
            row-gap: var(--spacing-md);

            h5 {
                @include typography.typography("md", tertiary);
                font-weight: 500;
            }

            a {
                @include typography.typography("sm", tertiary);
                display: block;
                color: var(--color-not-so-black);
                display: flex;
                align-items: center;
                column-gap: var(--spacing-sm);
                text-decoration: none;

                &::after {
                    content: "";
                    background: var(--icon-link) no-repeat center / contain;
                    width: 16px;
                    height: 16px;
                    display: block;
                }
            }
        }

        &__tools {
            display: grid;
            align-items: center;
            row-gap: var(--spacing-2xl);

            h5 {
                @include typography.typography("lg", tertiary);
                font-weight: 300;
                border-top: 1px solid var(--color-not-so-black);
                padding-block: var(--spacing-md);
            }

            .swiper {
                width: 100%;

                &-slide {
                    padding-inline: var(--spacing-lg) 0;
                    margin-right: 0 !important;
                    width: max-content;
                    min-width: 15.625rem;
                    padding-bottom: 20px;

                    &:last-child {
                        padding-inline: var(--spacing-lg);
                    }
                }

                a {
                    text-decoration: none;
                }
            }

            &__card {
                scroll-snap-align: start;
                background: var(--color-magic-strong);
                border-radius: var(--border-radius-md);
                padding: var(--spacing-lg);
                box-shadow:
                    0px 16px 16px -8px rgba(12, 12, 13, 0.1),
                    0px 4px 4px -4px rgba(12, 12, 13, 0.05);
                color: var(--color-not-so-black);
                height: 13.75rem;
                display: grid;
                place-content: space-between;
                min-width: 245px;
                transition: 0.3s ease-in-out all;

                h4 {
                    @include typography.typography("7xl", primary);
                    line-height: 1;
                    // width: max-content;
                }

                span {
                    @include typography.typography("sm", tertiary);
                    font-weight: 300;
                }

                @media (hover: hover) {
                    &:hover {
                        background: var(--color-banana);
                    }
                }
            }
        }
    }
}

@media (min-width: 1280px) {
    .page-epilogue {
        padding-block-end: 12.5rem;

        .hero {
            .row {
                justify-content: center;
                row-gap: var(--spacing-6xl);
            }

            h1 {
                margin-block-end: var(--spacing-2xl);
            }

            p {
                @include typography.typography("xl", tertiary);
            }

            .buttons {
                flex-direction: row;
                column-gap: var(--spacing-lg);
                justify-content: center;
            }

            .button {
                @include typography.typography("2xl", tertiary);
            }
        }

        .panels {
            // padding-block: 12.5rem 0;
            padding-block: var(--spacing-5xl) 0;

            // & > .container {
            //     position: sticky;
            //     top: 160px;
            //     z-index: 9;
            // }

            .nav {
                border-bottom: none;
                column-gap: var(--spacing-2xl);
                justify-content: flex-start;
            }

            .nav-item {
                flex: 0 1 250px;

                button {
                    @include typography.typography("2xl", primaryBold);
                    border-radius: var(--border-radius-full);
                    box-shadow: none;
                    padding: var(--spacing-sm) var(--spacing-lg);
                    border: 1px solid var(--color-not-so-black);
                    letter-spacing: 2px;
                    filter: drop-shadow(3px 6px var(--color-not-so-black));
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: var(--color-magic);

                    &.active {
                        background: var(--color-banana);
                        color: var(--color-not-so-black);
                    }
                }
            }

            .tab-content {
                padding-block-start: 12.5rem;

                h2 {
                    @include typography.typography("7xl", primaryBold);
                    line-height: 1;
                }

                #profile-tab-pane {
                    .panel--contenido {
                        grid-template-columns: 55% 45%;

                        & > div {
                            &:first-child {
                                order: 1;
                            }

                            &:last-child {
                                order: 2;
                                padding-inline-start: var(--spacing-10xl);
                            }
                        }
                    }
                }

                .panel--contenido {
                    grid-template-columns: 45% 55%;
                    padding-block-end: var(--spacing-6xl);

                    & > div {
                        padding-inline: 0;
                        max-width: none;

                        &:first-child {
                            order: 2;
                            row-gap: var(--spacing-lg);
                        }

                        &:last-child {
                            order: 1;
                            place-content: flex-start;
                        }
                    }
                }

                .container {
                    & > h4 {
                        @include typography.typography("10xl", primary);
                    }

                    span {
                        margin-block-end: var(--spacing-2xl);
                    }
                }

                p {
                    @include typography.typography("xl", tertiary);
                }

                picture {
                    aspect-ratio: 16 / 9;
                }

                .panel--contenido {
                    p {
                        @include typography.typography("lg", tertiary);
                    }
                }
            }

            &__tools {
                &__card {
                    height: 220px;
                }

                .swiper {
                    max-width: none;
                    padding-inline: 64px;

                    &-wrapper {
                        column-gap: var(--spacing-xl);
                    }

                    &-slide {
                        padding-inline: 0 !important;
                    }
                }
            }
        }
    }
}
