@use "../core/typography";
@use "../core/mixins";

.page-home {
    background: var(--color-banana);
    overflow-x: hidden;
    padding-block-start: var(--spacing-8xl);

    .head-home {
        display: none;
    }

    canvas {
        position: fixed;
        inset: 0;
        pointer-events: none;
        transform: translate(30px, -130px);
        z-index: 9 !important;
    }

    .intro {
        background: var(--color-banana);
        padding-block: var(--spacing-4xl) var(--spacing-lg);

        .col-12 {
            display: flex;
            flex-direction: column;
            row-gap: 80px;
        }

        h1 {
            @include typography.typography("11xl", primaryBold);
            text-transform: uppercase;
        }

        p {
            @include typography.typography("xl", tertiary);

            &:nth-child(2) {
                @include typography.typography("md", tertiary);
            }
        }

        &--resume {
            display: flex;
            flex-direction: column;
            row-gap: var(--spacing-lg);
        }
    }

    .video {
        position: relative;
        z-index: 9;

        video {
            display: block;
            width: 100%;
            object-fit: cover;
            // aspect-ratio: 9 / 16;
        }

        picture {
            display: block;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        button {
            position: absolute;
            bottom: var(--spacing-lg);
            right: var(--spacing-lg);
            border-radius: 50%;
            width: 120px;
            height: 120px;
            border: 2px solid var(--color-not-so-black);
            filter: drop-shadow(3px 6px var(--color-not-so-black));
            background: var(--color-magic);
            @include typography.typography("2xl", primaryBold);
            letter-spacing: 2px;
            z-index: 9;
        }
    }

    // @include mixins.modal("#modal-video");
    @include mixins.modal;
}

@media (min-width: 1280px) {
    .page-home {
        .intro {
            padding-block-start: 12.5rem;
            cursor:
                url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120"><defs><filter id="shadow"><feDropShadow dx="3" dy="6" stdDeviation="0" flood-color="%23333"/></filter></defs><circle cx="60" cy="60" r="52" fill="%23a8b5ff" stroke="%23000" stroke-width="2" filter="url(%23shadow)"/><text x="60" y="68" font-family="TTTrailers-bold" font-size="28" letter-spacing="2px" text-anchor="middle" fill="%23000">SCROLL</text></svg>')
                    60 60,
                auto;

            h1 {
                @include typography.typography("11xlDesk", primaryBold);
            }

            p {
                @include typography.typography("3xl", secondary);

                &:nth-child(2) {
                    @include typography.typography("xl", secondary);
                }
            }

            .col-12 {
                row-gap: 0;
            }

            &--resume {
                margin-block: 18.75rem;
                width: 55%;
                align-self: flex-end;
            }
        }

        .video {
            cursor:
                url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120"><defs><filter id="shadow"><feDropShadow dx="3" dy="6" stdDeviation="0" flood-color="%23333"/></filter></defs><circle cx="60" cy="60" r="52" fill="%23a8b5ff" stroke="%23000" stroke-width="2" filter="url(%23shadow)"/><text x="60" y="68" font-family="TTTrailers-bold" font-size="28" letter-spacing="2px" text-anchor="middle" fill="%23000">PLAY</text></svg>')
                    60 60,
                auto;

            &::after {
                content: "";
                width: 90%;
                height: 80px;
                background: var(--color-magic);
                border-radius: var(--border-radius-lg) var(--border-radius-lg) 0
                    0;
                position: absolute;
                margin: auto;
                bottom: 0;
                left: 0;
                right: 0;
            }

            button {
                display: none;
            }
        }
    }
}
