@use "../core/typography";
@use "../core/mixins";

canvas {
    position: absolute;
    inset: 0;
    pointer-events: none;
    // height: 100%;
    // width: 100%;
    // transform: translate(
    //     calc(-10px + 400 * (100vw - 360px) / 768),
    //     calc(-330px + 400 * (100vw - 360px) / 768)
    // );
    // transform: translate(-10px, -200px);
    z-index: 9;
}

.page-home {
    background: var(--color-banana);
    overflow-x: hidden;
    padding-block-start: var(--spacing-8xl);
    overflow: hidden;

    .head-home {
        display: none;
    }

    #modal-video {
        .modal--content {
            overflow: hidden;
            width: 100dvw;
            height: 100dvh;
        }
    }

    .intro {
        background: var(--color-banana);
        padding-block: var(--spacing-4xl) var(--spacing-lg);

        .col-12 {
            display: flex;
            flex-direction: column;
            row-gap: 80px;
        }

        h1 {
            @include typography.typography("11xl", primaryBlack);
            text-transform: uppercase;
        }

        p {
            @include typography.typography("xl", tertiary);

            &:nth-child(2) {
                @include typography.typography("lg", tertiary);
            }
        }

        &--resume {
            display: flex;
            flex-direction: column;
            row-gap: var(--spacing-lg);
        }
    }

    .video {
        position: relative;
        z-index: 9;
        margin-block-end: 0;
        padding-block-start: 0;
        height: 100vh;

        video {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            pointer-events: none;
            // aspect-ratio: 9 / 16;
        }

        picture {
            display: block;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        button {
            position: absolute;
            inset: 0;
            margin: auto;
            // bottom: var(--spacing-lg);
            // right: var(--spacing-lg);

            border-radius: 50%;
            width: 120px;
            height: 120px;
            border: 2px solid var(--color-not-so-black);
            filter: drop-shadow(3px 6px var(--color-not-so-black));
            background: var(--color-magic);
            @include typography.typography("4xl", primaryBold);
            letter-spacing: 2px;
            z-index: 9;
            color: inherit;
        }
    }

    // @include mixins.modal("#modal-video");
    @include mixins.modal;
}

.page-video {
    @include mixins.modal;
    height: 200vh;

    #modal-video {
        .modal--content {
            overflow: hidden;
            width: 100dvw;
            height: 100dvh;
        }
    }

    .video {
        position: relative;
        z-index: 9;
        margin-block-end: 0;
        padding-block-start: 0;
        height: 100vh;

        video {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            pointer-events: none;
            // aspect-ratio: 9 / 16;
        }

        picture {
            display: block;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        button {
            position: absolute;
            inset: 0;
            margin: auto;
            // bottom: var(--spacing-lg);
            // right: var(--spacing-lg);

            border-radius: 50%;
            width: 120px;
            height: 120px;
            border: 2px solid var(--color-not-so-black);
            filter: drop-shadow(3px 6px var(--color-not-so-black));
            background: var(--color-magic);
            @include typography.typography("4xl", primaryBold);
            letter-spacing: 2px;
            z-index: 9;
            color: inherit;
        }
    }
}

.page-visualization {
    background: var(--color-banana);

    .hero-viz {
        // padding-block: var(--spacing-10xl) var(--spacing-8xl);
        // padding: var(--spacing-10xl) 0 0;
        padding: 0;

        &.hide {
            display: none;
        }

        .col-12 {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: var(--spacing-lg);
            padding-block: var(--spacing-10xl) var(--spacing-8xl);
        }

        p {
            @include typography.typography("lg", tertiary);
            text-align: center;
        }

        .title {
            span {
                background: var(--color-magic);
            }
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        .button {
            @include typography.typography("sm", tertiary);
            letter-spacing: 0;
            width: max-content;
            padding: var(--spacing-sm) var(--spacing-lg);
        }
    }
}

@media (min-width: 1280px) {
    .page-home {
        // padding-block-start: 200px;

        .intro {
            // padding-block-start: 12.5rem;
            padding-block-end: 0;

            cursor:
                url(./../img/cursor-scroll.svg) 30 30,
                auto;

            h1 {
                @include typography.typography("11xlDesk", primaryBold);
            }

            p {
                @include typography.typography("3xl", tertiary);

                &:nth-child(2) {
                    @include typography.typography("xl", tertiary);
                }
            }

            .col-12 {
                row-gap: 0;
            }

            &--resume {
                margin-block: 18.75rem;
                width: 55%;
                align-self: flex-end;
            }
        }

        .video {
            margin-block-end: 0;
            padding-block: 0;
            // height: 100svh;

            // video {
            //     height: 100%;
            // }

            cursor:
                url(./../img/cursor-play.svg) 30 30,
                auto;

            button {
                display: none;
            }
        }

        dialog .modal--content video {
            transform: rotate(0deg);
            width: 100%;
        }
    }
}
