@use "../core/typography";
@use "../core/mixins";

.page-periods {
    background: var(--color-not-so-white-viz-300);

    // .panel__content {
    //     padding-block-start: var(--spacing-6xl);
    // }

    #button-menu {
        background: var(--color-not-so-white-viz-300);
    }

    .head-period {
        padding-block-start: var(--spacing-lg);

        .row {
            row-gap: var(--spacing-sm);
        }

        .col-12 {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: var(--spacing-xs);
        }

        &--info {
            h4 {
                display: none;
            }
        }

        .title {
            @include typography.typography("9xl", primary);
            margin-bottom: var(--spacing-sm);
        }

        &__data {
            display: flex;
            justify-content: center;
            column-gap: var(--spacing-sm);

            span {
                @include typography.typography("sm", tertiary);
                display: flex;
                align-items: center;
                column-gap: var(--spacing-xs);
                font-weight: 300;

                strong {
                    font-weight: 500;
                }
            }
        }
    }

    .periods {
        padding-block: var(--spacing-md) var(--spacing-6xl);

        .row {
            row-gap: var(--spacing-4xl);
        }

        &--parrafo {
            display: none;
        }

        .periods-hover {
            position: absolute;
            display: block;
            width: min(8%, 50px);
            height: 8%;
            aspect-ratio: 1 / 1;
        }

        &#period-3 .periods-hover {
            top: 71%;
            right: 34%;
        }

        &#period-4 .periods-hover {
            bottom: 25%;
            left: 29%;
            // bottom: 25%;
            // left: 40%;
        }

        .svg-flechas-period {
            display: none;
        }

        &--botonera {
            display: grid;
            row-gap: var(--spacing-lg) !important;
            margin-block-start: var(--spacing-lg);

            .button {
                place-self: center;
                width: 200px;

                &.data {
                    order: 3;
                }
            }
        }

        &#period-3 {
            .button.star {
                display: none;
            }
        }
    }

    .swiper-pagination {
        display: flex;
        justify-content: center;
        column-gap: var(--spacing-md);
        inset: 0;
        position: absolute;
        top: calc(510px + 760 * (100vw - 360px) / 768);
        margin: 0 auto;
        height: max-content;
        z-index: 9;

        &-bullet {
            @include typography.typography("sm", tertiary);
            width: 32px;
            height: 32px;
            border-radius: var(--border-radius-full);
            border: 1px solid var(--color-not-so-black);
            text-decoration: none;
            display: grid;
            place-items: center;
            color: var(--color-not-so-black);
            cursor: pointer;
            flex: 0 0 32px;
            background: var(--color-not-so-white-viz-300);
            opacity: 1;

            &-active {
                background: var(--color-not-so-black);
                color: var(--color-not-so-white);
            }
        }
    }

    @include mixins.modal;

    #modal-periods {
        position: relative;
        inset: auto;
        top: 0;
        overflow-y: scroll;
        justify-content: flex-start;
        background: var(--color-not-so-white-viz-300);
        padding-block-start: var(--spacing-xl);

        svg {
            display: block;
        }

        &.show {
            display: block;
        }

        .swiper-slide-visible {
            z-index: 9;
        }

        .swiper-slide {
            &[data-period="1"] figure .button,
            &[data-period="4"] figure .button {
                top: 5%;
                right: 10%;
            }

            &[data-period="2"] figure .button {
                bottom: 3.75rem;
                left: 3rem;
            }

            &[data-period="5"] figure {
                &[data-botones="3"] {
                    #btn-viz {
                        bottom: 6.25rem;
                        left: 0rem;
                        top: auto;
                        z-index: 0;
                    }
                    #btn-miles {
                        bottom: 15%;
                        left: 15%;
                        top: auto;
                        z-index: 0;
                    }
                }

                .button {
                    bottom: 15%;
                    left: 15%;
                }
            }

            &[data-period="6"] figure {
                &[data-botones="3"] {
                    #btn-viz {
                        right: 0%;
                        top: 20%;
                        z-index: 1;
                    }
                    #btn-miles {
                        right: 10%;
                        top: 3%;
                    }
                }
                .button {
                    right: 10%;
                    top: 3%;
                }
            }
            &[data-period="7"] figure {
                &[data-botones="3"] {
                    #btn-viz {
                        right: 7%;
                        bottom: 10%;
                        z-index: 1;
                    }
                    #btn-miles {
                        bottom: 24%;
                        right: 19%;
                        left: auto;
                    }
                }
                .button {
                    right: 7%;
                    bottom: 10%;
                }
            }
        }

        .head-period--map {
            display: none;
        }
    }

    #modal-story,
    #modal-data {
        background: var(--color-banana);
        z-index: 9999;
        justify-content: flex-start;
        overflow-y: scroll;
        margin: 0;

        section {
            padding-block: 108px;
        }

        .container {
            row-gap: var(--spacing-3xl);
            display: flex;
            flex-direction: column;

            .modal--story--content {
                row-gap: var(--spacing-lg);
            }
        }

        .close {
            background: var(--icon-close-white) no-repeat center/ 1.5em
                var(--color-not-so-black);
            filter: none;
        }

        p {
            @include typography.typography("md", tertiary);

            &:first-child {
                @include typography.typography("lg", tertiary);
            }
        }

        .modal--content {
            width: 100%;

            .title {
                @include typography.typography("9xl", primary);
                margin-block-end: var(--spacing-md);
            }

            .hero__data {
                text-align: center;
                display: flex;
                justify-content: center;
                column-gap: var(--spacing-xs);

                span {
                    @include typography.typography("md", tertiary);
                    font-weight: 300;
                    display: flex;
                    justify-content: center;
                    column-gap: var(--spacing-xxs);

                    strong {
                        font-weight: 500;
                    }
                }
            }
        }

        .modal-data--table {
            width: 100%;
            display: grid;
            overflow-x: scroll;

            [class*="modal-data--row"] {
                display: flex;
                column-gap: var(--spacing-md);
                padding: var(--spacing-md);
                border-bottom: 1px solid var(--color-not-so-black);
                // width: max-content;

                &.modal-data--row--header {
                    background: var(--color-not-so-black);
                    color: var(--color-banana);
                    border-radius: var(--border-radius-xs);
                }

                span {
                    @include typography.typography("md", tertiary);
                    font-weight: 300;
                    display: flex;
                    align-items: center;
                    column-gap: 0.125rem;

                    &:first-child {
                        // flex: 0 0 35px;
                        width: 35px;
                    }

                    &:nth-child(2) {
                        // flex: 1 0 70px;
                        width: 70px;
                    }
                    &:nth-child(3) {
                        @include typography.typography("sm", tertiary);
                        // flex: 0 0 260px;
                        width: 260px;
                    }

                    i {
                        background: var(--icon-gota) no-repeat center / contain;
                        width: 14px;
                        height: 14px;
                        // display: inline-block;
                    }
                }
            }
        }

        .hero--disclaimer {
            padding-block-start: var(--spacing-md);

            p {
                @include typography.typography("sm", tertiary);
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: var(--spacing-xs);

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                i {
                    display: block;
                    background: var(--icon-gota) no-repeat center / contain;
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }

    .modal-high {
        z-index: 9999;
        justify-content: flex-start;
        overflow-y: scroll;
        margin: 0;
        background: var(--color-not-so-white-viz-300);

        .close {
            background: var(--icon-close-white) no-repeat center/ 1.5em
                var(--color-not-so-black) !important;
            filter: none !important;
        }

        section {
            padding-block: 6.25rem var(--spacing-4xl);
        }

        .modal-high--content {
            margin-block-start: var(--spacing-3xl);

            p {
                justify-self: flex-start;
            }
        }

        .swiper {
            width: 100%;

            .swiper-pagination {
                top: calc(520px + 760 * (100vw - 360px) / 768);
                column-gap: var(--spacing-xs);
            }

            .swiper-pagination-bullet {
                background: url(./img/ring.webp) no-repeat center / contain;
                width: 14px;
                height: 14px;
                border: 0;
                opacity: 0.3;

                &-active {
                    opacity: 1;
                }
            }
        }

        .modal--content {
            background: var(--color-not-so-white-viz-300);
            height: 100dvh;
            width: 100%;

            .row {
                row-gap: var(--spacing-lg);
            }

            h5 {
                span {
                    &:first-child {
                        @include typography.typography("md", tertiary);
                    }
                    &:nth-child(2) {
                        @include typography.typography("2xl", script);
                    }
                }
            }
        }

        p {
            display: grid;
            place-items: center;
            row-gap: var(--spacing-xxs);

            span {
                @include typography.typography("sm", tertiary);
                display: flex;
                column-gap: var(--spacing-xs);
            }
        }

        .modal-high--image {
            display: grid;
            row-gap: var(--spacing-lg);
        }

        figure {
            position: relative;
            display: grid;
            place-items: center;
            row-gap: var(--spacing-lg);

            .img-cover {
                aspect-ratio: 367 / 372;
            }

            .button {
                position: absolute;
                border: 1px solid var(--color-not-so-black);
                letter-spacing: 2px;
                filter: drop-shadow(2px 3px var(--color-not-so-black));
                width: 80px;
                height: 80px;
                border-radius: var(--border-radius-full);
                background: var(--color-magic);
                @include typography.typography("md", primaryBold);
                text-align: center;
                line-height: 1;
                color: var(--color-not-so-black);
                text-transform: uppercase;
                padding: 0;
                display: grid;
                place-items: center;

                &::after {
                    display: none;
                }

                &#btn-miles {
                    border: none;
                    background: var(--icon-bg-star) no-repeat center / contain;
                }
            }

            &[data-botones="2"] {
                #btn-viz {
                    display: none;
                }
                #btn-miles {
                    display: block;
                }
            }

            &[data-botones="1"] {
                #btn-viz {
                    display: block;
                }
                #btn-miles {
                    display: none;
                }
            }

            .img-ring {
                display: flex;
                align-items: center;
                column-gap: 28px;
                display: flex;

                img {
                    width: 16px;
                    height: 16px;
                    opacity: 0.3;
                }

                .active {
                    opacity: 1;
                }
            }
        }

        h5 {
            text-align: center;
            display: grid;
            row-gap: var(--spacing-md);
            margin-block-end: var(--spacing-lg);

            span {
                display: block;

                &[data-field="date"] {
                    @include typography.typography("md", tertiary);
                }
                &[data-field="title"] {
                    @include typography.typography("md", script);
                }
            }
        }

        p {
            @include typography.typography("md", tertiary);
            font-weight: 300;
        }
    }

    #modal-resume {
        opacity: 0;
        transform: translateY(100%);
        // transition: 1s ease-in-out all;

        @keyframes showModal {
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }

        &::backdrop {
            opacity: 0.5;
        }

        &[open] {
            animation: showModal 0.5s forwards ease-in-out;
            // .modal--content {
            //     animation: showModal 0.5s forwards ease-in-out 0.1s;
            // }
        }

        .modal--content {
            background: var(--color-not-so-white);
            border-radius: var(--border-radius-md);
            margin-inline: var(--spacing-lg);
        }

        section {
            padding-block: var(--spacing-lg);
        }

        .col-12 {
            display: grid;
            row-gap: var(--spacing-md);
            place-items: center;
        }

        h4 {
            @include typography.typography("md", tertiary);
        }

        h3 {
            @include typography.typography("2xl", script);
            letter-spacing: 2px;
        }

        .clamp[open] p {
            line-clamp: unset;
            -webkit-line-clamp: unset;
        }

        p {
            @include typography.typography("md", tertiary);
            font-weight: 300;
        }

        a {
            @include typography.typography("md", tertiary);
            margin-block-start: var(--spacing-sm);
            font-weight: 500;
            cursor: pointer;
        }

        &:has(a) {
            p {
                display: -webkit-box; /* fallback */
                line-clamp: 5;
                -webkit-line-clamp: 5; /* fallback */
                -webkit-box-orient: vertical; /* fallback */
                overflow: hidden;
                transition: 0.3s ease-in-out all;

                &.is-open {
                    -webkit-line-clamp: unset;
                    line-clamp: unset;
                }
            }

            .button {
                margin-block: var(--spacing-sm);
            }
        }

        .button {
            margin-block: var(--spacing-xl) var(--spacing-md);
        }
    }
}

@media (min-width: 1280px) {
    .page-periods {
        // background: var(--color-not-so-white);

        .head-home {
            display: none;
        }

        .hero {
            background: var(--color-banana);
            padding-block: var(--spacing-3xl);
            padding-inline: 0;

            .row {
                flex-direction: row-reverse;
                align-items: center;
                justify-content: space-between;
                column-gap: var(--spacing-3xl);

                .col-12 {
                    row-gap: 0;
                    width: auto;

                    &.hero--info {
                        display: grid;
                        place-items: flex-start;
                        column-gap: var(--spacing-lg);
                    }
                }

                h4 {
                    @include typography.typography("10xl", primaryBold);
                    grid-column: 1 / 2;
                    grid-row: 1 / 4;
                }

                h1 {
                    @include typography.typography("10xl", primary);
                }
            }

            &__data {
                flex-direction: column;
                grid-column: 2 / 3;

                span {
                    @include typography.typography("lg", tertiary);
                }
            }
        }

        .periods {
            padding-block: 0;

            .container {
                // max-width: 1600px;
                width: var(--width-period);
                padding-inline: calc(var(--bs-gutter-x) * 0.5);
                height: var(--height-period);
            }

            .row {
                justify-content: center;
                position: relative;
            }

            &--parrafo {
                display: block;
                position: absolute;
                margin: auto;
                width: 26%;
                height: max-content;
                opacity: 0;
                transition: 0.3s ease-in-out opacity;
                @include typography.typography("md", tertiary);

                &.show {
                    z-index: 1;
                    opacity: 1;
                }

                li {
                    @include typography.typography("md", script);
                }
            }

            &#period-1 .parrafo-1,
            &#period-2 .parrafo-5,
            &#period-4 .parrafo-2,
            &#period-5 .parrafo-4,
            &#period-5 .parrafo-5,
            &#period-5 .parrafo-6,
            &#period-6 .periods--parrafo,
            &#period-7 .parrafo-7 {
                left: 0;
                top: 0;
                bottom: 0;
            }

            &#period-2 .parrafo-1,
            &#period-5 .parrafo-1,
            &#period-7 .parrafo-2,
            &#period-7 .parrafo-6,
            &#period-2 .parrafo-3 {
                top: 0;
                bottom: 0;
                right: 0;
            }

            &#period-2 .parrafo-3 {
                @include typography.typography("2xl", script);
            }

            .periods-hover {
                // border: 1px solid;
                width: min(3%, 20px);
                height: 5%;
            }

            &#period-3 {
                #svg-dots {
                    display: none;
                }

                .periods-hover {
                    top: 71%;
                    right: calc(486px + 742 * (100vw - 1280px) / 1920);
                }

                #svg-flechas-period-03 {
                    transform: translate(42%, 36%);
                }
            }

            &#period-4 {
                .periods-hover {
                    top: 68%;
                    left: calc(468px + 710 * (100vw - 1280px) / 1920);
                }

                #svg-flechas-period-04 {
                    transform: translate(-4%, 41%);
                }
            }

            .svg-flechas-period {
                display: block;
            }

            &--botonera {
                // width: 30%;
                order: 4;
                flex-direction: row;
                display: flex;
                margin-block-start: 0;

                .button {
                    width: auto;
                    padding: var(--spacing-xs) var(--spacing-sm);

                    &.star {
                        display: none;
                    }
                }
            }

            &--pagination {
                // width: 30%;
                order: 5;
                grid-column: 3 / 4;
            }

            // svg {
            //     circle {
            //         cursor: pointer;
            //     }
            // }

            .periods-hover {
                cursor: pointer;
                z-index: 4;
            }
        }

        .panel__content {
            padding-block-start: 0;
        }

        #modal-periods {
            padding-block-start: 0;

            .head-period {
                background: var(--color-banana);
                padding-block: var(--spacing-xl);
                height: 145px;
                padding-inline: 0;
                max-width: none;
                z-index: 1;
                position: relative;

                .row {
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    column-gap: var(--spacing-3xl);
                    // max-width: 1280px;
                    margin: auto;
                    transition: 0.3s ease-in-out all;

                    .col-12 {
                        width: auto;
                        flex: 1 0 31%;
                        padding: 0;

                        &:nth-child(1) {
                            order: 2;
                            align-items: flex-end;
                        }

                        &:nth-child(2) {
                            order: 1;
                            align-items: flex-start;
                            display: grid;
                            column-gap: var(--spacing-lg);
                            flex: 0 0 auto;
                            row-gap: 0;

                            h4 {
                                @include typography.typography(
                                    "10xl",
                                    primaryBold
                                );
                                grid-column: 1 / 2;
                                grid-row: 1 / 4;
                            }

                            .head-period__data {
                                grid-column: 2 / 3;
                                justify-content: flex-start;
                                display: block;

                                span {
                                    @include typography.typography(
                                        "lg",
                                        tertiary
                                    );

                                    font-weight: 300;
                                }

                                strong {
                                    font-weight: 500;
                                }

                                &:nth-child(2) {
                                    grid-row: 1 / 2;
                                }
                                &:nth-child(3) {
                                    grid-row: 2 / 3;
                                }
                                &:nth-child(4) {
                                    grid-row: 3 / 4;
                                }
                            }
                        }

                        &:nth-child(3) {
                            order: 3;
                        }
                    }
                }

                .title {
                    @include typography.typography("10xl", primary);
                }

                h4 {
                    display: block;
                }
            }

            .head-period--content {
                transition: 0.3s ease-in-out all;
                width: var(--width-period);
                // padding-inline: 3.5% 0;
                padding-inline: calc(var(--bs-gutter-x) * 0.5);
                margin-inline: 0;
                justify-self: center;

                &.hide {
                    opacity: 0;
                }
            }

            .head-period--map {
                display: flex;
                opacity: 0;
                position: absolute;
                margin: auto;
                inset: 0;
                height: max-content;
                width: var(--width-period);
                padding-inline: 0;
                transition: 0.3s ease-in-out all;

                &.show {
                    opacity: 1;
                }

                .row {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                }

                span {
                    @include typography.typography("md", tertiary);
                    display: flex;
                    align-items: center;
                    column-gap: var(--spacing-xs);
                    font-weight: 300;
                    width: auto;
                    // padding: 0;
                    // flex: 0 0 22%;

                    strong {
                        font-weight: 500;
                    }
                }
            }

            .swiper {
                padding-block-end: var(--spacing-xl);
                height: 100%;
                // height: 100svh;
                // max-height: 900px;
            }
        }

        .swiper-pagination {
            top: auto;
            // bottom: var(--spacing-lg);
            bottom: 0;
            right: calc(64px + 200 * (100vw - 1280px) / 1920);
            left: auto;
            justify-content: flex-end;

            &.hide {
                opacity: 0;
            }

            .swiper-pagination-bullet {
                @media (hover: hover) {
                    &:hover {
                        font-weight: 700;
                    }
                }
            }
        }

        #modal-story {
            .container {
                row-gap: var(--spacing-6xl);
            }

            .hero {
                .row {
                    flex-direction: column;
                    row-gap: var(--spacing-sm);
                }

                &__data {
                    flex-direction: row;
                }
            }

            .modal--story--meta {
                display: flex;
                flex-direction: row;
                column-gap: var(--spacing-sm);
            }

            .modal--story--content {
                width: 50%;
                display: flex;
                flex-direction: column;
            }

            .modal--content {
                .title {
                    @include typography.typography("11xl", primary);
                }
            }

            p {
                @include typography.typography("lg", tertiary);

                &:first-child {
                    @include typography.typography("2xl", tertiary);
                }
            }
        }

        #modal-data {
            .hero {
                .row {
                    flex-direction: column;
                    row-gap: var(--spacing-sm);
                }

                &--meta {
                    display: flex;
                    flex-direction: row;
                    column-gap: var(--spacing-sm);
                }

                &__data {
                    flex-direction: row;
                }
            }

            .modal--content {
                .title {
                    @include typography.typography("11xl", primary);
                }
            }

            .modal-data--table [class*="modal-data--row"] {
                span {
                    @include typography.typography("lg", tertiary);
                }

                span:first-child,
                span:nth-child(2) {
                    width: 100px;
                }

                span:nth-child(2) {
                    width: 150px;
                }

                span:nth-child(3) {
                    @include typography.typography("lg", tertiary);
                }
            }

            .hero--disclaimer {
                padding-block-start: var(--spacing-xs);

                p {
                    @include typography.typography("md", tertiary);
                }
            }
        }

        #modal-resume {
            .modal--content {
                max-width: 400px;
                border-radius: var(--spacing-lg);
                padding: var(--spacing-lg);

                .container {
                    padding: 0;
                }
            }
        }
    }
}

// @media (min-width: 1440px) {
//     .page-periods {
//         #modal-periods .swiper {
//             height: auto;
//         }
//     }
// }

@media (min-width: 1920px) {
    .page-periods {
        .swiper-pagination {
            bottom: var(--spacing-lg);
        }
    }
}
