@use "../core/typography";

.page-physicalizing {
    background: var(--color-magic);
    min-height: auto !important;

    .hero {
        .col-12 {
            display: flex;
            flex-direction: column;
            row-gap: var(--spacing-lg);
        }

        p {
            @include typography.typography("lg", tertiary);
            text-align: center;
        }

        .img-cover {
            margin-block-start: var(--spacing-8xl);
        }
    }

    .expand {
        .marquee {
            display: none;
        }

        h2 {
            @include typography.typography("8xl", primaryBold);
            text-transform: uppercase;
            margin-block-end: 9.0625rem;
        }

        p {
            @include typography.typography("lg", tertiary);
        }

        &__image {
            margin-block-start: 6.25rem;
            position: relative;

            &--fondo {
                // aspect-ratio: 40 / 93;

                img {
                    will-change: transform, object-position;
                }
            }

            &__info {
                display: grid;
                row-gap: var(--spacing-md);
                position: absolute;
                bottom: var(--spacing-3xl);
                background: var(--color-magic);
                border-radius: var(--border-radius-sm);
                padding: var(--spacing-md);
                margin-inline: var(--spacing-lg);

                p {
                    @include typography.typography("sm", tertiary);
                }
            }
        }
    }

    &#physicalizing {
        padding-block-start: var(--spacing-8xl);

        .expand {
            padding-block: var(--spacing-8xl);
        }
    }

    &--moments {
        // height: 200dvh;
        // height: 150vh;
        height: 2700px;

        &.is-step-1 {
            .expand__image--fondo img {
                object-position: calc(-440px + 2000 * (100vw - 360px) / 640) 0px;
            }
        }
        &.is-step-2 {
            .expand__image--fondo img {
                object-position: calc(
                        -450px + 2000 * (100vw - 360px) / 640
                    ) -70px;
                transform: scale(1.5);
            }
        }
        &.is-step-3 {
            .expand__image--fondo img {
                object-position: calc(-140px + 400 * (100vw - 360px) / 640) 0px;
                transform: scale(1.2);
            }
        }

        section {
            padding-block: 0;
        }

        .expand__image {
            margin-block-start: 0;
            overflow: hidden;

            &--fondo {
                height: 100dvh;

                img {
                    object-position: calc(-380px + 2000 * (100vw - 360px) / 640)
                        0px;
                    // object-fit: none;
                    transition: 0.5s ease-in-out;
                }
            }
        }

        .expand__image__info {
            transition: none;

            picture {
                overflow: hidden;
                border-radius: var(--border-radius-xs);
            }

            &:nth-child(1) {
                margin-inline: var(--spacing-4xl);
            }

            &:nth-child(2) {
                grid-template-columns: (70% 30%);
            }

            &:nth-child(3) {
                bottom: var(--spacing-10xl);
            }
        }
    }

    .regular {
        padding-block: var(--spacing-8xl);

        &.carousel {
            display: flex;
            flex-direction: column;
            row-gap: var(--spacing-6xl);
            padding-block: 0;
        }

        &.matches {
            padding-block-end: 0;
        }

        &.circle {
            padding-block-end: 0;
        }

        .carousel-all {
            margin-block-start: var(--spacing-8xl);
            overflow: hidden;

            &--marquee {
                display: flex;
                width: max-content;
            }

            picture {
                height: 400px;
            }
        }

        .col-12 {
            display: flex;
            flex-direction: column;
            row-gap: var(--spacing-lg);
        }

        h2 {
            @include typography.typography("8xl", primaryBold);
            text-transform: uppercase;
        }

        p {
            @include typography.typography("lg", tertiary);
        }

        & > .img-cover {
            margin-block-start: 6.25rem;
        }

        video {
            border-radius: var(--border-radius-md);
        }

        .swiper {
            width: 100%;

            &-slide {
                width: auto;

                picture,
                figure {
                    overflow: hidden;
                    border-radius: var(--border-radius-sm);
                    // width: 200px;
                    // height: 303px;
                    aspect-ratio: 103 / 160;
                }

                video {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .hours {
        padding-block-end: 0;

        .row {
            row-gap: var(--spacing-lg);
        }

        h3 {
            @include typography.typography("6xl", primaryBold);
            text-transform: uppercase;
            padding: 0 var(--spacing-sm);
        }

        &--list {
            row-gap: var(--spacing-sm) !important;
        }

        ul {
            display: flex;
            justify-content: space-between;
            list-style: none;
            // column-gap: var(--spacing-sm);
            padding: 0 var(--spacing-sm);

            &:last-child {
                background: var(--color-magic-500);
                border-radius: var(--border-radius-xs);
                padding: var(--spacing-sm);
                margin-block-start: var(--spacing-xxs);
            }

            li {
                @include typography.typography("sm", tertiary);
                flex-basis: 10%;
                text-align: right;

                &:first-child {
                    text-align: left;
                    flex-basis: 67%;
                }

                strong {
                    font-weight: 500;
                }
            }
        }
    }

    .link-decorated {
        margin-block: var(--spacing-8xl) 0;
        padding-block-end: var(--spacing-2xl);
    }
}

@media (min-width: 1280px) {
    .page-physicalizing {
        .img-cover {
            aspect-ratio: 1440 / 1024;
        }

        .hero {
            .col-12 {
                row-gap: var(--spacing-3xl);
            }

            p {
                @include typography.typography("xl", tertiary);
            }
        }

        .expand {
            padding-block: 0;
            overflow-x: hidden;

            .marquee {
                display: flex;
                align-items: center;
                position: absolute;
                column-gap: var(--spacing-lg);
                top: 0;
                padding: var(--spacing-xs);
                z-index: 9;

                h4 {
                    @include typography.typography("8xl", primaryBold);
                    text-transform: uppercase;
                    color: var(--color-banana);
                    flex: 0 0 auto;
                }
            }

            h2 {
                @include typography.typography("9xlDesk", primaryBold);
                margin-block-end: 31.25rem;
            }

            p {
                width: 55%;
                max-width: 600px;
                margin-left: auto;
                @include typography.typography("xl", tertiary);
            }

            &__image__info {
                width: 20rem;
                height: max-content;
                inset: 0;
                margin: auto;

                .img-cover {
                    aspect-ratio: auto;
                }

                p {
                    width: auto;
                    @include typography.typography("md", tertiary);
                }
            }
        }

        .regular {
            padding-block: var(--spacing-6xl);

            .col-12 {
                display: grid;
                place-content: space-between;
            }

            h2 {
                @include typography.typography("9xlDesk", primaryBold);
                margin-block-end: 31.25rem;
                grid-column: 1 / 2;
                margin-block-end: auto;
                // width: 80%;
            }

            video {
                grid-column: 2 / 3;
                grid-row: 1 / 3;
                max-width: 424px;
            }

            p {
                width: 80%;
                max-width: 700px;
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                align-self: flex-end;
            }

            .carousel-all {
                picture {
                    height: 700px;
                }
            }

            &.circle {
                padding-block: 20rem 0;

                h2 {
                    width: 60%;
                    margin-inline-start: auto;
                }

                & > picture {
                    margin-block-start: 19.375rem;
                }
            }

            &.hours {
                .row {
                    grid-template-columns: 55% 35%;
                }

                video {
                    max-width: 100%;
                }
            }

            .swiper-slide {
                display: grid;
                justify-content: center;
            }
        }

        &--moments {
            // z-index: 9;
            height: 300vh;

            .expand__image {
                &--fondo {
                    height: calc(100vh - 135px);
                    img {
                        object-position: calc(
                                -20px + 2000 * (100vw - 1280px) / 1440
                            )
                            10px;
                        transform: scale(1.5);
                    }
                }

                &__info {
                    &:nth-child(1) {
                        margin-inline: auto;
                    }
                    &:nth-child(2) {
                        left: 20%;
                    }
                    &:nth-child(3) {
                        right: 60%;
                    }
                }
            }

            &.is-step-1 .expand__image--fondo img {
                object-position: calc(45px - 250 * (100vw - 1280px) / 1440) 60px;
                transform: scale(2);
            }
            &.is-step-2 .expand__image--fondo img {
                object-position: calc(45px - 250 * (100vw - 1280px) / 1440) 20px;
                transform: scale(2);
            }
            &.is-step-3 .expand__image--fondo img {
                object-position: calc(-150% - 400 * (100vw - 1280px) / 1440)
                    calc(70px + 170 * (100vw - 1280px) / 1440);
                transform: scale(1.6);
            }
        }

        .carousel {
            row-gap: var(--spacing-10xl) !important;

            .swiper {
                max-width: 1400px;

                cursor:
                    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120"><defs><filter id="shadow"><feDropShadow dx="3" dy="6" stdDeviation="0" flood-color="%23333"/></filter></defs><circle cx="60" cy="60" r="52" fill="%23f2fca7" stroke="%23000" stroke-width="2" filter="url(%23shadow)"/><text x="60" y="68" font-family="TTTrailers-bold" font-size="28" letter-spacing="2px" text-anchor="middle" fill="%23000">DRAG</text></svg>')
                        60 60,
                    auto;

                &-slide {
                    figure,
                    .img-cover {
                        // aspect-ratio: auto;
                        width: 392px;
                    }
                }
            }

            &__content {
                place-content: flex-end !important;

                p {
                    width: auto;
                }
            }
        }

        .matches {
            padding-block-start: 12.5rem;

            .img-cover {
                aspect-ratio: 1440 / 700;
            }

            h2 {
                width: 100%;
            }
        }

        .circle {
            .img-cover {
                aspect-ratio: 1440 / 1437;
            }

            .col-12 {
                place-content: center;
            }
        }

        .hours {
            position: relative;
            padding-block-end: 12.5rem;

            .row {
                display: grid;
                place-items: flex-end;
                place-content: space-between;
                row-gap: var(--spacing-md);
            }

            &--title {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
            }

            &--list {
                grid-column: 2 / 3;
                grid-row: 3 / 4;
                place-content: normal !important;
            }

            &--img {
                grid-row: 1 / 4;
                grid-column: 1 / 2;
                width: 710px;
                height: auto;

                .img-cover {
                    aspect-ratio: 1 / 1;
                }
            }
        }

        .link-decorated {
            display: none;
        }
    }
}

@media (min-width: 1920px) {
    .page-physicalizing--moments {
        height: 320vh;

        .expand__image--fondo img {
            object-position: calc(145px - 250 * (100vw - 1920px) / 2560) 60px;
            transform: scale(2.7);
        }

        &.is-step-1 .expand__image--fondo img {
            object-position: calc(145px - 250 * (100vw - 1920px) / 2560) 60px;
            transform: scale(2.7);
        }

        &.is-step-2 .expand__image--fondo img {
            object-position: calc(145px - 250 * (100vw - 1920px) / 2560) 20px;
            transform: scale(2.7);
        }

        &.is-step-3 .expand__image--fondo img {
            object-position: calc(255px - 250 * (100vw - 1920px) / 2560) 20px;
            transform: scale(2.7);
        }
    }
}
