@use "../core/mixins";

:root {
    scroll-behavior: smooth;
}

// :target {
//     scroll-margin-block: 5lh;
// }

& {
    font-family: var(--font-primaria-regular);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    li {
        margin: 0;
    }

    div[class*="page-"] {
        width: 100%;
        min-height: 100vh;
        position: relative;
    }

    dialog::backdrop {
        background-color: rgba(0, 0, 0, 1);
    }

    section {
        padding-block: var(--spacing-4xl) 0;
    }

    .container {
        @include mixins.container;
    }

    .font-tertiary {
        font-family: "Space Grotesk", sans-serif !important;
    }

    .title {
        @include mixins.title;
    }

    .link-decorated {
        @include mixins.link-decorated;
    }

    .img-cover {
        @include mixins.img-cover;
    }

    .reveal {
        opacity: 0;
        transition:
            transform 0.8s ease-out,
            opacity 0.8s ease-out;
    }

    .reveal.is-inview {
        opacity: 1;
    }
}

@media (min-width: 1280px) {
    & {
        div[class*="page-"] {
            min-height: calc(100vh - 8.4375rem);
        }

        section {
            padding-block: var(--spacing-10xl) 0;
        }
    }
}
