@use "../core/typography";

&.panel-1,
&.panel-2,
&.panel-6 {
    #button-menu,
    .head-home {
        background: var(--color-magic);
    }
}

&.panel-3:has(.visualization.show),
&.panel-3:has(.main-periods.show) {
    #button-menu {
        background: var(--color-not-so-white);
    }
}

&.panel-5 {
    .head-home {
        background: var(--color-not-so-black);
        color: var(--color-magic);
    }

    #button-menu {
        background: var(--color-not-so-black);
        color: var(--color-magic);
        border-color: var(--color-magic);
        filter: drop-shadow(3px 6px var(--color-magic));
    }
}

.head-home {
    display: none;
    transition: 0.3s ease-in-out all;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1030;
    padding-block: var(--spacing-md);

    a {
        outline: 0;
    }

    .link-back {
        @include typography.typography("xl", primaryBold);
        text-decoration: none;
        color: var(--color-not-so-black);
        display: flex;
        align-items: center;
        column-gap: var(--spacing-sm);
        letter-spacing: 2px;
        cursor: pointer;

        &:before {
            content: "";
            background: var(--icon-arrow) no-repeat center / contain;
            width: 14px;
            height: 14px;
            transform: rotate(180deg);
        }
    }

    #button-menu {
        padding-inline: 20px;
        transition: background 0.3s ease-in-out;
    }

    .navbar {
        width: 100%;
        padding: 0;

        .container {
            justify-content: center;
        }

        img {
            width: 62px;
            height: 62px;
            object-fit: contain;
        }
    }

    .offcanvas {
        width: 90%;
        height: max-content;
        margin: auto;
        border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;

        &.offcanvas-end {
            transform: translate(0, 100%);
            top: auto;
            left: 0;
            max-width: 332px;

            &.showing,
            &.show:not(.hiding) {
                transform: translate(0, -50%);
            }
        }

        &-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: var(--spacing-sm);

            ul {
                display: flex;
                flex-direction: column;
                row-gap: var(--spacing-sm);
                padding: 0;
                width: 100%;

                a {
                    text-decoration: none;
                }

                li {
                    @include typography.typography("4xl", primaryBold);
                    text-align: center;
                    color: var(--color-not-so-white);
                    background: var(--color-not-so-black);
                    padding: var(--spacing-xxs) var(--spacing-sm);
                    text-transform: uppercase;

                    span {
                        display: block;
                        letter-spacing: 0;
                        text-transform: none;
                        @include typography.typography("md", tertiary);
                        font-weight: 100;
                        line-height: 1;
                        transform: translateY(-5px);
                    }
                }
            }
        }
    }
}

@media (min-width: 1280px) {
    #head-full.viz-show {
        .head-home {
            opacity: 0;
        }

        #header {
            button {
                background: var(--color-banana);
                color: var(--color-not-so-black);
                border-color: var(--color-not-so-black);
                filter: drop-shadow(3px 6px var(--color-not-so-black));
            }
        }
    }

    .head-home {
        display: flex;
        padding-block: var(--spacing-xl);
        background: var(--color-banana);
        // position: fixed;
        // top: 0;
        z-index: 9;
        width: 100%;

        .col-12 {
            display: flex;
            justify-content: space-between;
        }

        p {
            text-align: center;
            @include typography.typography("md", tertiary);
            font-weight: 300;
            flex-basis: 33%;

            &:nth-child(1) {
                text-align: left;
            }
            &:nth-child(3) {
                text-align: right;
            }

            strong {
                font-weight: 500;
            }
        }
    }

    .header {
        position: fixed;
        padding-block: var(--spacing-xs);
        inset: 0;
        top: auto;
        bottom: var(--spacing-lg);
        margin: auto;
        width: 242px;
        border-radius: var(--border-radius-md);
        background: var(--color-concrate-3);
        box-shadow:
            0px 4px 4px -1px rgba(12, 12, 13, 0.1),
            0px 4px 4px -1px rgba(12, 12, 13, 0.05);

        .button {
            @include typography.typography("2xl", primaryBold);
            padding-inline: var(--spacing-3xl);
            transition:
                0.1s linear filter,
                letter-spacing !important;

            &:hover {
                letter-spacing: 1px;
                filter: drop-shadow(
                    1px 3px var(--color-not-so-black)
                ) !important;
            }
        }

        &:has(.link-back) {
            padding: var(--spacing-sm);

            .navbar > .container-fluid {
                justify-content: center;
                padding: 0;
            }

            #button-menu {
                display: none;
            }
        }

        .link-back {
            background: var(--color-banana);
            padding: var(--spacing-md);
            border-radius: var(--border-radius-sm);
            @include typography.typography("sm", tertiary);
            font-weight: 500;
            letter-spacing: 0;
        }

        &:has(.navbar.secondary) {
            width: 250px;
        }

        .offcanvas.offcanvas-end {
            position: absolute;
            width: 332px;
            max-width: none !important;
            bottom: -0.5rem;
            border-radius: var(--border-radius-md);
            border: 0;
            right: auto;
            left: auto;

            &.showing:not(.hiding),
            &.show:not(.hiding) {
                transform: translate(0, 0);
            }

            a,
            & {
                cursor:
                    url(./../img/cerillo2.webp) 30 30,
                    auto;
            }
        }

        .navbar {
            & > .container {
                flex-direction: row;
                padding-inline: 0;
            }

            img {
                width: 74px;
                height: 74px;
            }

            &.secondary {
                width: 300px;
            }
        }
    }
}
