@use "../core/typography";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    position: sticky;
    z-index: 1030;

    .link-back {
        @include typography.typography("xl", primaryBold);
        text-decoration: none;
        color: var(--color-not-so-black);
        display: flex;
        align-items: center;
        column-gap: var(--spacing-sm);
        letter-spacing: 2px;

        &:before {
            content: "";
            background: var(--icon-arrow) no-repeat center / contain;
            width: 14px;
            height: 14px;
            transform: rotate(180deg);
        }
    }

    #button-menu {
        padding-inline: 20px;
    }

    .navbar {
        width: 100%;

        img {
            width: 62px;
            height: 62px;
            object-fit: contain;
        }
    }

    .offcanvas {
        width: 90%;
        height: max-content;
        margin: auto;
        border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;

        &-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: var(--spacing-sm);

            ul {
                display: flex;
                flex-direction: column;
                row-gap: var(--spacing-sm);
                padding: 0;
                width: 100%;

                a {
                    text-decoration: none;
                }

                li {
                    @include typography.typography("4xl", primaryBold);
                    text-align: center;
                    color: var(--color-not-so-white);
                    background: var(--color-not-so-black);
                    padding: var(--spacing-xxs) var(--spacing-sm);
                    text-transform: uppercase;

                    span {
                        display: block;
                        letter-spacing: 0;
                        @include typography.typography("sm", secondary);
                    }
                }
            }
        }
    }
}
