@use "../core/typography";
@use "../core/mixins";

.viz-mapa {
    .col-12 {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: var(--spacing-xs);
    }

    .visualization--instructions {
        display: none;
    }

    .visualization--fondo {
        position: relative;

        .map-hover {
            display: none;
        }

        svg {
            display: none;
            width: 160vw;

            .svg-flechas,
            .svg-indicador,
            #svg-dots {
                display: none;
            }
        }
    }

    .visualization--data {
        align-items: normal !important;
        row-gap: var(--spacing-lg) !important;

        h4 {
            @include typography.typography("md", tertiary);
            font-weight: 300;
            padding-block: var(--spacing-sm);
            text-align: center;
            background: url(./../img/cerillo-negative.webp) no-repeat 35%
                center / 50px;

            strong {
                font-weight: 500;
            }
        }

        @include mixins.data-table;

        a {
            text-decoration: none;
        }

        .button {
            background: var(--color-not-so-white-viz-300);
            @include typography.typography("sm", tertiary);
            letter-spacing: normal;
            width: max-content;
            margin: auto;
            margin-block-start: var(--spacing-lg);
        }
    }

    .periods--summary {
        padding-block-start: var(--spacing-sm);
        display: grid;
        row-gap: var(--spacing-lg);

        h4 {
            @include typography.typography("6xl", primary);
            letter-spacing: 2px;
        }

        p {
            @include typography.typography("md", tertiary);
            font-weight: 100;
        }
    }
}

@media (min-width: 1280px) {
    .viz-mapa {
        .visualization--mapa {
            // padding-block: var(--spacing-xl);
            padding-block: 0;
            overflow: hidden;
            // max-width: 1600px;
            margin: auto;
            width: var(--width-period);
            // height: var(--height-period);
            // height: max-content;
            height: var(--height-period);
            // width: 85vw;
            // height: 80vh;
            // height: calc(100% - 140px);
            padding-inline: 0;
            position: relative;
            z-index: 1;
            place-content: center;

            .row {
                height: 100%;
                //     flex-direction: row;
                //     position: relative;
                justify-content: center;
                //     align-items: center;
            }

            .visualization--instructions {
                bottom: 0;
                padding-block-end: var(--spacing-2xl);
            }

            .visualization--data {
                top: 16%;
                bottom: 0;
                // align-self: flex-end;
                padding-block-end: var(--spacing-4xl);
            }
        }

        .visualization--instructions {
            display: flex;
            flex-direction: column;
            row-gap: var(--spacing-lg);
            width: 24%;
            max-width: 320px;
            z-index: 1;
            align-items: flex-start;

            transition: 0.3s ease-in-out;
            //
            position: absolute;
            left: 4%;
            top: 0;
            bottom: 0;
            align-self: center;

            &.hide {
                opacity: 0;
            }

            .button {
                justify-self: flex-start;
            }

            h4 {
                @include typography.typography("md", tertiary);
                font-weight: 300;
                padding-block: var(--spacing-sm);
                text-align: center;
                background: url(./../img/cerillo-negative.webp) no-repeat 35%
                    center / 50px;

                strong {
                    font-weight: 500;
                }
            }

            p {
                @include typography.typography("md", tertiary);
                font-weight: 100;
            }
        }

        .visualization--fondo {
            width: 100%;
            position: relative;
            z-index: 1;

            .img-cover {
                display: none;
            }

            svg {
                display: block;
                // transform: scale(2.2);
                width: var(--width-svg);
                z-index: 3;
                transition: 0.3s ease-in-out all;

                .svg-indicador,
                #svg-dots {
                    display: block;
                }

                .hover-ring {
                    // display: none;
                    opacity: 0;
                    transition: 0.3s ease-in-out all;

                    &.show {
                        opacity: 1;
                    }
                }

                circle {
                    fill: transparent;
                    cursor: pointer;
                }

                .map-hover {
                    opacity: 0;
                    display: block;
                    transition: 0.3s ease-in-out all;

                    &.show {
                        opacity: 1;
                    }
                }
            }

            // #svg-ring {
            //     width: 50%;
            // }

            .svg-indicador {
                position: absolute;

                #ind-1 {
                    transform: translate(-25.5%, 34%);
                }
                #ind-2 {
                    transform: translate(28%, -27%);
                }
            }

            .svg-flechas {
                position: absolute;
                display: none;
                z-index: 1;

                image {
                    width: 45%;
                }

                &#flecha-1 {
                    transform: translate(48.5%, -35%);
                    image {
                        width: 40%;
                    }
                }
                &#flecha-2 {
                    transform: translate(53%, -30%);
                }
                &#flecha-3 {
                    transform: translate(60%, -22%);
                }
                &#flecha-4 {
                    transform: translate(62%, -3%);
                }
                &#flecha-5 {
                    transform: translate(61%, 32%);
                }
                &#flecha-6 {
                    transform: translate(55%, 36%);
                }
                &#flecha-7 {
                    transform: translate(57%, 40%);
                }
                &#flecha-8 {
                    transform: translate(56%, 39%);
                }
                &#flecha-9 {
                    transform: translate(18%, 52%);
                }
                &#flecha-10 {
                    transform: translate(46%, 39%);
                }
                &#flecha-11 {
                    transform: translate(-1%, 44%);
                }
                &#flecha-12 {
                    transform: translate(-2%, 23%);
                }
                &#flecha-13 {
                    transform: translate(-4%, 28%);
                }
                &#flecha-14 {
                    transform: translate(-5%, 19%);
                }
                &#flecha-15 {
                    transform: translate(-3%, -11%);
                }
                &#flecha-16 {
                    transform: translate(-2%, -23%);
                }
                &#flecha-17 {
                    transform: translate(34%, -33%);

                    image {
                        width: 45%;
                    }
                }

                &#flecha-18 {
                    transform: translate(25%, -32%);
                }
                &#flecha-19 {
                    transform: translate(57%, -9%);
                }
                &#flecha-20 {
                    transform: translate(41%, 47%);
                }
                &#flecha-21 {
                    transform: translate(0%, -21%);
                }
                &#flecha-22 {
                    transform: translate(5%, -26%);
                }
                &#flecha-23 {
                    transform: translate(52%, 9%);
                }
                &#flecha-24 {
                    transform: translate(3%, 1%);
                }
                &#flecha-25 {
                    transform: translate(-1%, 13%);
                }
                &#flecha-26 {
                    transform: translate(4%, -2%);
                }
                &#flecha-27 {
                    transform: translate(4%, -14%);
                }
            }

            a {
                display: none;
            }
        }

        .visualization--data {
            width: 25%;
            max-width: 320px;
            z-index: 2;
            transition: 0.3s ease-in-out;

            //
            position: absolute;
            right: 0;
            top: 12%;

            h4,
            a,
            #btn-explore {
                display: none;
            }

            .visualization--data--table {
                width: 100%;
            }
            .button {
                margin: 0;
                place-self: flex-start;
            }

            &.hide {
                opacity: 0;
            }
        }
    }
}

@media (min-width: 1440px) {
    .viz-mapa .visualization--data {
        max-width: 400px;
    }
}
