@use "locomotive-scroll/dist/locomotive-scroll.css";

/* ===========================
   Bootstrap configuration
   =========================== */

@use "bootstrap/scss/bootstrap" with (
    $grid-breakpoints: (
        xs: 0,
        lg: 768px,
        xl: 1280px,
        xxl: 1440px,
    )
);

/* ===========================
   Project core
   =========================== */

@use "core/fonts";
@use "core/typography";
@use "core/vars";
@use "core/mixins";
@use "core/bootstrap-mixins";

/* ===========================
   Bootstrap components
   =========================== */
@use "components/button";
/* ===========================
   Layout
   =========================== */

@use "layout/body";
